<?xml version="1.0"?>
<config>
    <modules>
        <VTI_StockInventory>
            <version>1.0.1</version>
        </VTI_StockInventory>
    </modules>
    <global>
        <resources>
            <vti_stockinventory_setup>
                <setup>
                    <module>VTI_StockInventory</module>
                </setup>
            </vti_stockinventory_setup>
        </resources>
        <blocks>
            <vti_stockinventory>
                <class>VTI_StockInventory_Block</class>
            </vti_stockinventory>
        </blocks>
        <helpers>
            <vti_stockinventory>
                <class>VTI_StockInventory_Helper</class>
            </vti_stockinventory>
        </helpers>
        <models>
            <vti_stockinventory>
                <class>VTI_StockInventory_Model</class>
                <resourceModel>vti_stockinventory_resource</resourceModel>
            </vti_stockinventory>
            <vti_stockinventory_resource>
                <class>VTI_StockInventory_Model_Resource</class>
                <entities>
                    <stock_inventory>
                        <table>vti_stock_inventory</table>
                    </stock_inventory>
                </entities>
            </vti_stockinventory_resource>
            <cataloginventory>
                <rewrite>
                    <stock>VTI_StockInventory_Model_CatalogInventory_Stock</stock>
                </rewrite>
            </cataloginventory>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </vti_stockinventory>
                </observers>
            </checkout_submit_all_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </vti_stockinventory>
                </observers>
            </sales_model_service_quote_submit_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <vti_stockinventory>
                        <type>singleton</type>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>saveStockItemAfter</method>
                    </vti_stockinventory>
                </observers>
            </cataloginventory_stock_item_save_after>
            <cataloginventory_stock_revert_products_sale>
                <observers>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>stockRevertProductsSale</method>
                    </vti_stockinventory>
                </observers>
            </cataloginventory_stock_revert_products_sale>
            <catalog_product_import_finish_before>
                <observers>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>catalogProductImportFinishBefore</method>
                    </vti_stockinventory>
                </observers>
            </catalog_product_import_finish_before>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>addStockInventoryTab</method>
                    </vti_stockinventory>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <sales_order_item_cancel>
                <observers>
                    <inventory><type>disabled</type></inventory>
                    <vti_stockinventory>
                        <class>vti_stockinventory/stock_observer</class>
                        <method>cancelOrderItem</method>
                    </vti_stockinventory>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <VTI_StockInventory>
                    <files>
                        <default>VTI_StockInventory.csv</default>
                    </files>
                </VTI_StockInventory>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VTI_StockInventory before="Mage_Adminhtml">VTI_StockInventory_Adminhtml</VTI_StockInventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>